//btn
@use '../variables' as *;

.btn {
    align-items: center;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    border-radius: 12px;
    color: $color-white;
    min-width: max-content;
    width: 100%;
    flex: 1;
    height: fit-content;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    padding: 20px 24px;
    border-radius: 12px;
    font-weight: 400;

    &--primary {
        background-color: $primary-btn-bg;
    }

    &--secondary {
        background-color: $secondary-btn-bg;
        color: $color-black;
    }

    &:hover {
        opacity: 0.8;
    }
}