// form
@use '../variables' as *;

.f-input {
    &__input,
    &__textarea {
        background-color: white;
        border: 1px solid #ADADAD;
        color: black;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        outline: none;
        text-decoration: none;
        text-transform: none;
        transition: all 0.2s ease-in-out 0s;
        width: 100%;
        box-sizing: border-box;
        padding: 18px 24px;
        border-radius: 16px;
        max-height: 60px;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            vertical-align: middle;
            font-family: 'Rubik';
        }

        &:required + span {
            &::after {
                content: "*";   
            }
        }

        &:focus,
        &:not(:placeholder-shown) {
            border-color: #1928F0;
        }

        &.error + .f-input__title,
        &:focus + .f-input__title,
        &:not(:placeholder-shown) + .f-input__title {
            top: 0;
            font-size: 14px;
            padding: 0 4px;
            color: #1928F0;
        }

        &.error {
            border-color: $required-color;

            & + .f-input__title {
                color: $required-color;
            }
        }
    }

    &__textarea {
        height: 233px;
        max-height: 233px;
        resize: none;
        font-family: 'Inter', sans-serif;
    }

    &__wrap {
        position: relative;
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        transition: top 0.2s ease-in-out;
        background-color: white;
        font-size: 16px;
        color: #ADADAD;
    }

    textarea + .f-input__title {
        top: 30px;
    }

    &__checkbox {
        margin: 0;
        width: 0;
        cursor: pointer;

        &:checked::after {
            opacity: 1;
        }

        &::after {
            opacity: 0;
            z-index: 4;
            background-size: contain;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%2384e996' fill-rule='evenodd' d='M4 0a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4zm11.49 7.673a1 1 0 0 0-1.48-1.346L8.55 12.335l-1.768-2.21a1 1 0 1 0-1.562 1.25l2.5 3.125a1 1 0 0 0 1.52.048z' clip-rule='evenodd'/%3E%3C/svg%3E");
        }

        &::before {
            background-color: white;
        }

        &::before,
        &::after {
            content: "";
            height: 18px;
            position: absolute;
            transition: all 0.2s ease-in-out 0s;
            width: 18px;
            border: 2px solid #00000099;
            border-radius: 3px;
            top: -1px;
            left: 5px;
        }

        & + span {
            padding-left: 35px;
            color: #00000099;
        }
    }

    &__limit {
        color: #00000099;
        font-size: 12px;
        line-height: 150%;
        margin-top: 8px;
        padding-left: 14px;
    }

    &__error {
        position: absolute;
        top: calc(100% + 3px);
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        color: $required-color;
        left: 10px;
    }
}