// form
@use '../variables' as *;

.f-select {
    position: relative;

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        transition: top 0.2s ease-in-out;
        background-color: white;
        font-size: 16px;
        color: #ADADAD;
    }
}

.v-select.selected {
    .vs__dropdown-toggle {
        border-color: #1928F0;
    }

    & + .f-select__title {
        top: 0;
        font-size: 14px;
        padding: 0 4px;
        color: #1928F0;
    }
}

.v-select.vs--open {
    & + .f-select__title {
        top: 0;
        font-size: 14px;
        padding: 0 4px;
        color: #1928F0;
    }
}

.v-select .vs__dropdown-toggle {
    border-radius: 12px;
    height: 60px;
    border-color: #ADADAD;
}

.v-select.vs--open .vs__dropdown-toggle {
    border-color: #1928F0;
    border-radius: 12px;
}

.v-select .vs__dropdown-menu {
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: none;
    top: calc(100% + 12px);
}

.v-select .vs__actions {
    padding-right: 26px;

    .vs__clear {
        display: none;
    }
}

.v-select .vs__selected {
    background-color: $bg-white;
}

.v-select .vs__search,
.v-select .vs__search:focus {
    padding: 0;
}

.v-select .vs__selected-options {
    padding: 0 24px;
    align-items: center;
}

.vs--single .vs__selected {
    padding: 0;
    margin-left: 0;
}