//$breakPoints
$breakpoint-xs: 560px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

// main
$bg-white: #fff;
$color-black: #050505;
$color-white: #fff;
$main-blue: #1928F0;
$color-black-text: #2F333F;
$bg-light-grey: #c6c8d0;
$text-color: #484848;
$text-color-light-grey: #929DB2;

//btn
$primary-btn-bg: #1928F0;
$secondary-btn-bg: #F6F6F6;
$avance-bg: #D4FFE0;
$bg-grey: #E1E4EE;

//fields
$required-color: #e03c46;