@use './variables' as *;

.b-form-order {
    &__form {
        border-radius: 16px;
        background-color: $bg-white;
        padding: 24px 20px;
    }

    &__text {
        color: $color-white;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 24px;
        text-align: center;
    }

    &__wrapper {
        gap: 25px;
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 24px;
    }

    &__field {
        flex: 1;
        width: 100%;
    }

    &__success {
        color: $color-white;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
}