body {
    margin: 0;
    padding: 0;
    background-color: #F8F7FA;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.pb {
    padding-bottom: 80px;
}