@use './variables' as *;

.b-product-card {
    display: flex;
    align-items: center;
    gap: 10px;

    &__col {
        &.image {
            width: 150px;
            min-width: 150px;

            img {
                width: 100%;
            }
        }
    }
}