@use './variables' as *;

.b-tabs {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;

    &__item {
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
    }
}