@use './variables' as *;

.b-text-image {
    &__container {
        display: flex;
        gap: 64px;
        padding: 24px;
        background-color: $bg-white;
        border-radius: 24px;

        @media (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: 32px;
        }

        @media (max-width: $breakpoint-sm) {
            padding: 16px;
        }
    }

    &__img-wrap {
        flex: 1;
        border-radius: 16px;
        overflow: hidden;
        height: 375px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: $breakpoint-md) {
            flex: unset;
        }

        @media (max-width: $breakpoint-xs) {
            height: 280px;
        }
    }

    &__text {
        flex: 1;

        p {
            font-weight: 400;
            margin-bottom: 24px;
        }
    }

    &__title {
        @media (max-width: $breakpoint-md) {
            text-align: center;
        }
    }

    .btn {
        @media (max-width: $breakpoint-md) {
            width: 100%;
        }
    }
}